/*---content---*/
.content{
    position:absolute;
    width:100vw;
    margin:0 auto;
    padding-top:100px;
}
.black, .white{
    width:100%;
}

.black{
    color:white;
    background-color:black;
}
.white{
    background-color: white;
}

.toblack, .blackgo, .whitego,.towhite{
    width:100%;
    height:50vw;
    background-size:contain;
}

.towhite{
    background-image: url("../image/towhite.png");
}
.whitego{
    background-image:url("../image/whiteto.png");
}

.toblack{
    background-image:url("../image/yellow-to-black.png");
}

.blackgo{
    background-image:url("../image/black-to-yellow.png");
}

.blacktowhite{
    background-color:white;
}

/*---button---*/
input{
    display:none;
}
input:checked +label{
    background-image:url("../image/png/button-21.png");
}

.int-button, .video-button, .program-button{
    position:absolute;
    right:0%;
    width:60px;
    height:32px;
    background-size:contain;
}

.video-button{
    background-image:url("../image/png/button-24.png");
}

.int-button{
    background-image:url("../image/png/button-23.png");
}

.program-button{
    background-image:url("../image/png/button-26.png")
}

.drop-button, .dropup-button{
    position:absolute;
    width:4vw;
    height:3.5vw;
    background-size:contain;
    background-image:url("../image/png/dropbutton-22.png")
}
.dropup-button{
    transform:rotate(180deg);
}

.video{
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
}

/*---artwork---*/
.comic{
    height:0vw;
    white-space:pre-line;
    overflow-y:auto;
}
.comic::-webkit-scrollbar {
    display: none;
}

div .title{
    font-size:14px;
}
.sub-title{
    font-size:10px;
}

div .line{
    margin:auto;
    width:100%;
    height: 4.3vw;
}

.artwork{
    width:100%;
    margin: 0 auto;
}

.comic .artwork{
    margin-top:-4px;
}

.comic .firstpage{
    margin-top:-20px;
    max-height:100vh;
}


.block{
    margin:auto;
    text-align: center;

    transition-duration:1s;
    padding-left:13vw;
    padding-right:0vw;
    width:75vw;
}
/*---int---*/
.int{
    padding:20%;
    padding-left:0;
    padding-right:0;
    text-align:left;
}
.int > pre{
    font-size: 12.5px;
}