@import "button.css"; 
/*---content---*/
.content{
    position:absolute;
    width:100vw;
    width:100dvw;
    margin:0 auto;
    padding-top:100px;
}
.black, .white{
    width:100%;
}

.black{
    color:white;
    background-color:black;
}
.white{
    background-color: white;
}

.toblack, .blackgo, .whitego,.towhite{
    width:100%;
    height:min(50vw,30vh);
    height:min(50dvw,30dvh);
    /*background-size:contain;*/
    background-size: 500px;
    background-repeat: repeat-x;
}

.towhite{
    background-position-y: bottom;
    background-image: url("../image/towhite.png");
}
.whitego{
    background-position-y: top;
    background-image:url("../image/whiteto.png");
}

.toblack{
    background-position-y: bottom;
    background-image:url("../image/yellow-to-black.png");
}

.blackgo{
    background-position-y: top;
    background-image:url("../image/black-to-yellow.png");
}

.blacktowhite{
    background-color:white;
}

/*---artwork---*/
.workcover{
    height:50vw;
    height:50dvw;
    position:relative;
    transition-duration: 200ms;
}

#workcover-title{
    height:50%;
}

.artwrok-title{
    padding-bottom: 5vh;
    padding-bottom: 5dvh;
    line-height: 20px;
}

.comic{
    transition-duration: 1s;
    height:0vw;
    white-space:pre-line;
    overflow-y:auto;
}
.comic::-webkit-scrollbar-track, .int::-webkit-scrollbar-track
{
	background-color: #ffffff00;
}
.comic::-webkit-scrollbar, .int::-webkit-scrollbar
{
	width: 5px;
	background-color: rgb(255, 242, 219);;
}
.comic::-webkit-scrollbar-thumb, .int::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(180, 159, 124);
}

div .title{
    font-size:1rem;
}
.sub-title{
    font-size:0.8rem;
}

div .line{
    margin:auto;
    width:100%;
    height: 4.3vw;
    height: 4.3dvw;
}
.hoverimg img:nth-child(1){
    display: block;
}

.hoverimg img:nth-child(2){
    display:none;
}


.hoverimg:hover img:nth-child(2){
    display:block;
}
.hoverimg:hover img:nth-child(1){
    display: none;
}

.waterfall {
    width: 100%;
    column-count: 2;
    column-gap: 1vw;
    column-gap: 1dvw;
    text-align: justify;
    text-justify: inter-word;
    
}
.waterfall img{
    
    box-sizing: border-box;
    margin: 2vw auto 0;
    margin: 2dvw auto 0;
    break-inside: avoid;
    /*定義頁面、列或是區域發生中斷時的元素表現方式。 auto->元素中斷、acoid->元素不中斷*/
}

.artwork{
    width:100%;
    margin: 0 auto;
    border-radius: 1rem;
}
.comic .artwork{
    border-radius: 0px;
}
.artwork-end{
    width:100%;
    height:30vw;
    height:30dvw;
}

.comic .artwork{
    margin-top:-4px;
}

.comic .firstpage{
    margin-top:-20px;
    max-height:85vh;
    max-height:85dvh;
}

.block{
    margin:auto;
    text-align: center;

    transition-duration:1s;
    padding-left:13vw;
    padding-left:13dvw;
    padding-right:0px;
    width:75vw;
    width:75dvw;
}


/*---int---*/
.int{
    padding:20%;
    padding-left:0;
    padding-right:0;
    text-align:left;
}
.int > pre{
    font-size: 1rem;
}