/*---content---*/
.content{
    position:absolute;
    width:100vw;
    margin:0 auto;
    padding-top:100px;
}
.black, .white{
    width:100%;
}

.black{
    color:white;
    background-color:black;
}
.white{
    background-color: white;
}

.toblack, .blackgo, .whitego,.towhite{
    width:100%;
    height:min(50vw,30vh);
    /*background-size:contain;*/
    background-size: 300px;
    background-repeat: repeat-x;
}

.towhite{
    background-position-y: bottom;
    background-image: url("../image/towhite.png");
}
.whitego{
    background-position-y: top;
    background-image:url("../image/whiteto.png");
}

.toblack{
    background-position-y: bottom;
    background-image:url("../image/yellow-to-black.png");
}

.blackgo{
    background-position-y: top;
    background-image:url("../image/black-to-yellow.png");
}

.blacktowhite{
    background-color:white;
}

/*---button---*/
input{
    display:none;
}
input:checked +label{
    background-image:url("../image/png/button-21.png");
}

.int-button, .video-button, .program-button{
    position:absolute;
    right:0%;
    width:min(8vw,9vh);
    height:min(8vw,9vh);
    background-repeat: no-repeat;
    background-position: center;
    background-size:120%;
}

.video-button{
    background-image:url("../image/png/button-24.png");
}

.video-button:checked ~ .video{
    visibility: visible;
    opacity: 1;
}

.int-button{
    background-image:url("../image/png/button-23.png");
}

.program-button{
    background-image:url("../image/png/button-26.png")
}

.drop-button, .dropup-button{
    position:absolute;
    width:4vw;
    height:3.5vw;
    background-size:contain;
    background-image:url("../image/png/dropbutton-22.png")
}
.dropup-button{
    transform:rotate(180deg);
}

.video{
    opacity: 0;
    transition: visibility 1s, opacity 0.5s linear;
}

/*---artwork---*/
.workcover{
    height:50vw;
    position:relative;
    transition-duration: 200ms;
}

#workcover-title{
    height:50%;
}

.artwrok-title{
    height: 10vw;
    line-height: 20px;
}

.comic{
    transition-duration: 1s;
    height:0vw;
    white-space:pre-line;
    overflow-y:auto;
}
.comic::-webkit-scrollbar-track, .int::-webkit-scrollbar-track
{
	background-color: #ffffff00;
}
.comic::-webkit-scrollbar, .int::-webkit-scrollbar
{
	width: 5px;
	background-color: rgb(255, 242, 219);;
}
.comic::-webkit-scrollbar-thumb, .int::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(180, 159, 124);
}

div .title{
    font-size:14px;
}
.sub-title{
    font-size:10px;
}

div .line{
    margin:auto;
    width:100%;
    height: 4.3vw;
}
.hoverimg img:nth-child(1){
    display: block;
}

.hoverimg img:nth-child(2){
    display:none;
}


.hoverimg:hover img:nth-child(2){
    display:block;
}
.hoverimg:hover img:nth-child(1){
    display: none;
}

.waterfall {
    width: 100%;
    margin: 0px auto;
    column-count: 2;
    column-gap: 1vw;
    text-align: justify;
    text-justify: inter-word;
}
.waterfall .artwork{
    box-sizing: border-box;
    margin: 1vw auto 0;
    break-inside: avoid;
    /*定義頁面、列或是區域發生中斷時的元素表現方式。 auto->元素中斷、acoid->元素不中斷*/
}

.artwork{
    width:100%;
    margin: 0 auto;
}
.artwork-end{
    width:100%;
    height:30vw;
}

.comic .artwork{
    margin-top:-4px;
}

.comic .firstpage{
    margin-top:-20px;
    max-height:85vh;
}

.block{
    margin:auto;
    text-align: center;

    transition-duration:1s;
    padding-left:13vw;
    padding-right:0vw;
    width:75vw;
}


/*---int---*/
.int{
    padding:20%;
    padding-left:0;
    padding-right:0;
    text-align:left;
}
.int > pre{
    font-size: 12.5px;
}