@import "main.css"; 
@import "list.css"; 
@import "artwork.css"; 

/*---cover---*/
.cover{
    height:50vw;
    position:relative;
}
.cover .int{
    z-index:99999;
    padding:0;
    overflow:auto;
    position:absolute;
    width:50%;
    right:15%;
    bottom:0;
}

.cover .artwork{
    position:absolute;
    padding-top:20px;
    width:70%;
    left:15%;
    bottom:0%;
}

.title-block{
    padding:5vh 0 5vh;
    padding:5dvh 0 5dvh;
    margin: auto;
}

/*---illustration---*/
#littleman-blood{
    padding-top:20%;
    padding-left: 50%;
    width: 50%;
}
#illustrationdisplay .artwork{
    margin:2vw auto;
    margin: 2dvw auto;
}

/*---lake---*/
#lake{
    margin: auto;
}

/*---shop---*/
#shop{
    margin: auto;
}
#shopwaterfall{
    columns: 3;
}

/*---night---*/
#nightblock2{
    margin: auto;
}
#nightblock2 img{
    padding-bottom: 5px;
}

#nightblock2 div img{
    width:95%;
}
.artworkbar{
    position: relative;
    white-space: normal;
    word-break: break-all;
}
#night-display{
    width: 85%;
    margin: auto;
}
/*
#night-cover{
    width: 40%;
}
#night-18{
    width: 50%;
}
#night-7{
    width: 50%;
}*/

/*---water---*/
.black .title{
    color:white;
}

#water{
    margin:auto;
    width:85%;
    height:auto;
    /*max-height:100vh;
    max-width:calc(100vh/4092*2893);*/
}
.water{
    width:100%;
}

/*---rabbit---*/

#rabbit2display, #rabbit1display{
    transition-duration: 1s;
    position:relative;
    height: auto;
    margin: auto;
    overflow: hidden;
}

#rabbit2,#rabbit1,#rabbit2~.video, #rabbit1~.video{
    position:absolute;
    width:85%;
    height:85%;
    top:0px;
}

#rabbit2~.video, #rabbit1~.video{
    visibility: hidden;
    left:0px;
    height:100%;
}

#rabbit2-video1:checked+label+.video, #rabbit1-video1:checked+label+.video{
    visibility:visible;
    opacity: 1;
}
.rabbit label.video-button {
    top: 10px;
}
.rabbit div::-webkit-scrollbar, .rabbit div::-webkit-scrollbar-thumb{   
    display: none;
}

/*---Ghost Slayer---*/
.GhostSlayer .artwork{
    padding:0.5%;
    width:30%;
}

/*---Farewell My Concubine---*/
.FarewellMyConcubine{
    background-color:white;
}

.FarewellMyConcubine .artwork{
    width:40%;
}

/*---Mazu---*/
#Mazu-bigsize{
    float:left;
    width:30%;
    height:80vh;
    overflow-y:auto;
}

#Mazu-bigsize::-webkit-scrollbar ,#Mazu-small::-webkit-scrollbar{
    display: none;
}

#Mazu-bigsize .artwork{
    width:100%;
}

.imgs{
    width:100%;
}
.imgs img{
    width:50%;
    padding:1%;
    transition-duration:500ms;
}

#Mazu-small{
    width:40%;
    height:150%;
    margin:auto;
    overflow-x:auto;
}

#Mazu-a, #Mazu-b, #Mazu-c{
    padding-left:25%;
    white-space:nowrap;
}
.Mazu .button{
    background-color:black;
}


/*---傳統美術----*/
#graffitidisplay .artwork{
    border: 0.1rem solid rgb(199, 182, 154);
    margin: 2dvw auto 0;
}


#zoomwindow{
    z-index: 999999;
    visibility: hidden;
    position: fixed;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.655);
}
#zoomwindow-img{
    width: 90%;
}