@import "main.css"; 
/*---content---*/
.content{
    width:100vw;
    margin:0 auto;
    padding-top:100px;
}

.toblack, .blackgo{
    width:100%;
    height:50vw;
    background-size:contain;
}

.toblack{
    background-image:url("../image/yellow-to-black.png");
}

.blackgo{
    background-image:url("../image/black-to-yellow.png");
}

/*---list---*/
.story-open{
    height:0;
    width:0;
    display:none;
}

.list-open{
    display:none;
}

.list-open-button{
    transition-duration:1s;
    position:fixed;
    width:2px;
    left:2px;
    margin:0px;
    margin-top:calc(50vh + 20px);
}

.list-button{
    transition: transform 1s, background-position-y 0s;
    background-image:url("../image/png/listicon-13.png");
    background-size:100%;
    background-position-x:center;
    background-position-y:0;
    margin-top:80px;
    height:calc(100vh - 90px);
    width:15px;
    border-left:3px solid;
    border-color:rgb(76, 60, 60);
}

/*--story title (button in story list) --*/
.story-list{
    transition-duration:1s;
    position: fixed;
    font-size:23px;
    margin:0 auto;
    left:-13vw;
    width:12vw;
    height: calc(100% - 150px);
    margin-top:100px;
    overflow-y:auto;
    word-wrap:break-word;;
}
.story-list::-webkit-scrollbar {
    display: none;
}

.sub-story-open~span{
    font-size:20px;
}

.list-br{
    height:5vw;
    min-height:20px;
    max-height:50px;
}

.story-open-button{
    margin:0;
    width:40vw;
    height:40px;
}

/*activity - for story list button*/
.list-open:checked ~ .story-list{
    transition-duration:1s;
    transform: translate3d(14vw, 0, 0);
}
.list-open:checked +label>.list-open-button{
    transform: translate3d(calc(14vw - 4px), 0, 0);
}
.sub-story-open~span{
    display:none;
}
.story-open:hover ~ .sub-story-open~span{
    display:block;
}

/*---artwork---*/
.comic{
    height:0vw;
    overflow-y:auto;
}
.comic::-webkit-scrollbar {
    display: none;
}

.artwork{
    width:100%;
    margin: 0 auto;
}

.comic .artwork{
    margin-top:-5px;
}

/*---floor1---*/
.floor1{
    width:100%;
}

#floor1{
    float:left;
    width:30vw;
}
.floor1 .video{
    float:left;
    width:30vw;
    height:20vw;
}

/*---floor2---*/
#comic-bird{
    mix-blend-mode: darken;
    width:50%;
    float:left
}

#floor2{
    width:50%;
}

/*---night---*/
.night{
    padding:20px;
    background-color:black;
}
#night{
    width:50%;
}


/*---water---*/

.water{
    padding:20px;
    background-color:black;
}
#water{
    width:50%;
}

/*---Ghost Slayer---*/

.GhostSlayer{
    background-color:black;
}
.GhostSlayer .artwork{
    width:20%;
}