
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgb(255, 252, 228);
    /*display: inline-block;*/
}
.icon{
    width:50%;
}
.profile{
    width:80vw;
}
