@import "main.css"; 

.icon{
    position:absolute;
    margin:0;
    margin-left:5vw;
    margin-top:0.6vw;
    left:0px;
    transition-duration: 2s;
    opacity: 1;
    background-color: rgb(255, 252, 228,0);
    width:70%;
}

.menu-open:checked ~ .icon{
    opacity: 0;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}


.processing{
    position:absolute; 
    bottom:0;
    right:0;
    font-size:0px; 
    width:80vw;
    min-width:500px;
}

