body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgb(255, 252, 228);
    margin:0;
    display:normal;
}

p, a , pre {
    color: rgb(76, 60, 60);
    font-size: 16px;
    margin:0 auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.menu, .back{
    position:absolute;
    width:100vw;
    margin:0;
    margin-top:50px;
    height: 20px;
    box-sizing: border-box;
    font-size: 20px;
    z-index: 3;
}

.back{
    width:50px;
    height:50px;
    margin-left:35px;
    margin-top:-15px;
    background-image: url("../image/back.svg");
    background-size: cover;
    z-index:1;
}

.menu-open-button {
    position: absolute;
    right: 80px;
    width: 20px;
    height: 20px;
    color: white;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}

.menu-item{  
    opacity: 0;
    height:100px;
    width:400px;
    position:fixed;
    top:20vh;
    left:5vw;
    padding:10px;
    padding-bottom:20px;
    font-family:"normalc";
    text-decoration-line: unset;
    background-size:contain;
}
.menu-open {
    margin:0;
    display: none;
}

.hamburger {
    width: 200%;
    height: 50%;
    float:right;
    display: block;
    position: absolute;
    transition: transform 200ms;
    background-size:cover;
}

.hamburger-1 {
    background-image:url("../image/hamburger-03.svg");
    transform: translate3d(-7px, -10px, 0);
}

.hamburger-2 {
    background-image:url("../image/hamburger-04.svg");
    transform: translate3d(-7px, 0, 0);
}

.hamburger-3 {
    background-image:url("../image/hamburger-04.svg");
    transform: translate3d(-7px, 10px, 0);
}


.menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(-8.5px, -2.5px, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0, 0);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(-8.5px, -2.5px, 0) rotate(-45deg);
}
