html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
	width: 100vw;
	overflow: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgb(255, 252, 228);
    margin:0;
    display:normal;
}

p, a , pre {
    color: rgb(76, 60, 60);
    font-size: 16px;
    margin:0 auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

@font-face {
    font-family: titlefont;
    src: url("font/03HomuraM-SemiLight-2.otf") format("opentype");
}

a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    text-decoration: none;

}

.menu, .back{
    position:fixed;
    width:100vw;
    margin:0;
    margin-top:50px;
    height: 20px;
    box-sizing: border-box;
    font-size: 20px;
    z-index: 3;
}

.back{
    width:30px;
    height:30px;
    margin-left:35px;
    margin-top:-15px;
    background-image: url("../image/back.svg");
    background-size: cover;
    z-index:1;
}

.menu-open-button {
    position: fixed;
    right: 50px;
    width: 15px;
    height: 15px;
    color: white;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}

.menu-item{  
    opacity: 0;
    height:50px;
    width:150px;
    position:fixed;
    font-family:"titlefont";
    font-size: 20px;
    background-size:cover;
}

.menu-open {
    margin:0;
    display: none;
}

.hamburger {
    width: 200%;
    height: 50%;
    display: block;
    position: fixed;
    transition: transform 200ms;
    background-size:contain;
}

.hamburger-1 {
    background-image:url("../image/hamburger-03.svg");
    transform: translate3d(0px, -7px, 0);
}

.hamburger-2 {
    background-image:url("../image/hamburger-04.svg");
    transform: translate3d(0px, 0, 0);
}

.hamburger-3 {
    background-image:url("../image/hamburger-04.svg");
    transform: translate3d(0px, 7px, 0);
}


.menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(0px, 0px, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0, 0);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(0px, 0px, 0) rotate(-45deg);
}

.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open-button:hover{
    transform: scale(1.4, 1.4) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(1, 1) translate3d(0, 0, 0);
}