
.menu, .back{
    position:fixed;
    width:100vw;
    margin:0;
    height: 10px;
    box-sizing: border-box;
    font-size: 13px;
    z-index: 3;
}
.menu{
    padding-top:35px;
    padding-bottom:15px;
}

/*---back button---*/
.logo{
    width:25px;
    height:25px;
    margin-left:20px;
    margin-top:-15px;
    background-image: url("../image/png/logo-28.png");
    background-size: cover;
    z-index:1;
}

.logo:hover{
    transform: scale(1.2, 1.2);
}


/*---input---*/
.menu-open {
    margin:0;
    display: none;
}

/*---open button.hambergur---*/

.hamburger {
    cursor: pointer;
    width: 150%;
    height: 50%;
    display: block;
    position: fixed;
    transition: transform 200ms;
    background-size:contain;
    background-repeat: no-repeat;
}

.hamburger-1 {
    background-image:url("../image/png/hamburger-03.png");
    transform: translate3d(0px, -5px, 0);
}

.hamburger-2 {
    background-image:url("../image/png/hamburger-04.png");
    transform: translate3d(0px, 0, 0);
}

.hamburger-3 {
    background-image:url("../image/png/hamburger-05.png");
    transform: translate3d(0px, 5px, 0);
}


.menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(0px, 0px, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0, 0);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(0px, 0px, 0) rotate(-45deg);
}

/*---menu open button---*/
.menu-open-button {
    z-index: 2;
    position: fixed;
    right: calc(1vw + 20px);
    top: 30px;
    width: 15px;
    height: 15px;
    color: white;
    transition: transform ease-out 200ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}

.menu-open-button:hover{
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(1, 1) translate3d(0, 0, 0);
}

/*---menu item---*/

.item{  
    visibility: hidden;
    opacity: 0;
    height:50px;
    position:absolute;
    font-family:"titlefont";
    font-size: 13px;
    background-size:cover;
    text-align: right;
    right:-75px;
    width:13vw;
}

.menu-item{
    direction: rtl;
}
.menu-item a div{
    transition: width 500ms;
    width:0%;
    height:20px;
    min-height:10px;
    max-height:50px;
    background-image:url("../image/png/br-11.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-item a:hover div{
    width:min(100%,10vh);
}

.menu-item a:nth-child(1) {
    margin-top:40vh;
    transition-duration: 1000ms;
}
.menu-item a:nth-child(2) {
    margin-top:50vh;
    transition-duration: 900ms;
}
.menu-item a:nth-child(3) {
    margin-top:60vh;
    transition-duration: 800ms;
}

.menu-item a:nth-child(4) {
    margin-top:70vh;
    transition-duration: 700ms;
}

.menu-item a:nth-child(5) {
    margin-top:80vh;
    transition-duration: 600ms;
}

.menu-open:checked ~ .menu-item a { 
    visibility:visible;
    opacity: 1;
    transition: display 0s, opacity,transform 1000ms;
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    align-items: center;
    transform: translate3d(-90px, 0px, 0);
}

.menu-open:checked ~ .menu-item a:nth-child(1){
    transition-duration: 1000ms;
}

.menu-open:checked ~ .menu-item a:nth-child(2) {
    transition-duration: 1200ms;
}

.menu-open:checked ~ .menu-item a:nth-child(3) {
    transition-duration: 1400ms;
}

.menu-open:checked ~ .menu-item a:nth-child(4) {
    transition-duration: 1600ms;
}

.menu-open:checked ~ .menu-item a:nth-child(5) {
    transition-duration: 1800ms;
}



