@import "main.css"; 

.menu-item{
    text-align: right;
    right:-75px;
    width:13vw;
}

.menu-item:nth-child(3) {
    margin-top:40vh;
    transition-duration: 1000ms;
}
.menu-item:nth-child(4) {
    margin-top:50vh;
    transition-duration: 900ms;
}
.menu-item:nth-child(5) {
    margin-top:60vh;
    transition-duration: 800ms;
}

.menu-item:nth-child(6) {
    margin-top:70vh;
    transition-duration: 800ms;
}

.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

.back:hover{
    transform: scale(1.4, 1.4);
}

.menu-open-button:hover{
    transform: scale(1.4, 1.4) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(1, 1) translate3d(0, 0, 0);
}


.menu-open:checked ~ .menu-item { 
    transition-duration: 1000ms;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    align-items: center;
    transform: translate3d(-100px, 0px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 1000ms;
}

.menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 1200ms;
}

.menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 1400ms;
}

.menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 1400ms;
}


