@import "main.css"; 


.story-open{
    height:0;
    width:0;
    display:none;
}

.list-open{
    display:none;
}

.list-open-button{
    transition-duration:2s;
    position:fixed;
    width:2px;
    left:0px;
    margin:0px;
    margin-top:50vh;
}

.list-open:checked ~ .story-list{
    transition-duration:2s;
    transform: translate3d(14vw, 0, 0);
}
.list-open:checked +label>.list-open-button{
    transition-duration:2s;
    transform: translate3d(14vw, 0, 0);
}
.list-open:checked ~ .story{
    transition-duration:2s;
    width:75vw;
    padding-left:13vw;
}

.story{
    transition-duration:2s;
    margin:0 auto;
    padding-bottom:20px;
    padding-left:0vw;
    padding-top: 150px;
    width:90vw;
    letter-spacing:3px;
    line-height: 40px;
}

.title{
    font-family:titlefont;
    font-size:40px;
}

.story-list{
    transition-duration:2s;
    position: fixed;
    font-size:25px;
    margin:0 auto;
    left:-12vw;
    width:12vw;
    height:50vh;
    margin-top:150px;
    overflow-y:auto;
    word-wrap:break-word;;
}
.story-list::-webkit-scrollbar {
    display: none;
}

.list-br{
    height:5vw;
    min-height:20px;
    max-height:50px;
}

.story-open-button{
    margin:0;
    width:40vw;
    height:40px;
}


.line{
    width:100%;
    height:4.5vw;
    background-image:url("../image/hr.svg");
    background-size:cover;
}

sup{
    font-size:7px;
}

.buttom{
    position:relative;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:20px;
    bottom:0;
    right:0;
    background-image:url("../image/end.svg");
    background-size:100%;
    width:200px;
    height:50px;
}


.menu-item{
    right:0px;
}

.menu-item:nth-child(3) {
    margin-top:40vh;
    background-image:url("../image/tilte-drawing.svg");
    transition-duration: 1000ms;
}
.menu-item:nth-child(4) {
    margin-top:50vh;
    background-image:url("../image/title-writing.svg");
    transition-duration: 900ms;
}
.menu-item:nth-child(5) {
    margin-top:60vh;
    background-image:url("../image/title-programming.svg");
    transition-duration: 800ms;
}


.back:hover{
    transform: scale(1.4, 1.4);
}

.menu-open:checked ~ .menu-item { 
    transition-duration: 1000ms;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    align-items: center;
    transform: translate3d(-100px, 0px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 1000ms;
}

.menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 1200ms;
}

.menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 1400ms;
}


