@import "main.css"; 
@import "list.css"; 

/*---menu---*/
.menu{
    background-color: rgb(255, 252, 228);
}

/*--story--*/
.cover{
    transition-duration:500ms;
    transition: width 500ms;
    position:relative;
    margin:0;
    height:50vh;
    height:50dvh;
    width: 75vw;
    width: 75dvw;
    background-color: rgb(255, 252, 228);
    /*background-image:url("../image/png/cover.png");*/
    /*background-size:100%;*/
}
#cover-word{
    transition-duration:500ms;
    position: absolute;
    top:50vh;
    top:50dvh;
    height: 10vh;
    height: 10dvh;
}
#cover-div{
    top: 80vh;
    top: 80dvh;
    width:75vw;
    width:75dvw;
}
#cover-title{
    z-index: 5;
    top: 75vh;
    top: 75dvh;
    font-size: 25px;
    letter-spacing: 3vw;
    letter-spacing: 3dvw;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em
}
#cover-tree, #cover-back{
    position:absolute;
    width:80%;
    max-width:100vh;
    max-width:100dvh;
    border-bottom: 2px solid rgb(102, 85, 54);
}
#cover-tree{
    right:0px;
}
#cover-back{
    left:0px;
}

.block{

    letter-spacing:2px;
    line-height: 40px;

    transition-duration:500ms;
    margin:0 auto;
    border-bottom:20px;
    padding-left:13vw;
    padding-left:13dvw;
    padding-right:0px;
    padding-top:100px;
    width:75vw;
    width:75dvw;
}

.story-title{
    font-size:35px;
}

.center{
    text-align: center;
}

sup{
    font-size:7px;
}

.buttom{
    position:relative;
    margin:0 auto;
    margin-top:50px;
    padding-bottom:40px;
    background-image:url("../image/end.svg");
    background-size:100%;
    width:200px;
    height:50px;
}

#fileOutput .illustrate{
    width:100%;
}
