
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgb(255, 252, 228);
}

p {
    color: rgb(76, 60, 60);
}

img{
    mix-blend-mode: darken;
    width: 200px;
}