body{
    overflow-y: auto;
}

.workdiv{
    margin:0;
    margin-top: 10px;
    padding:0;
    border-top: white solid 0.1vh;
    border-bottom: white solid 0.5vh;
    width: 100vw;
    height: 300px;
}

.word{
    overflow-y: scroll;
    width: 53%;
    padding-left:5%;
    padding-right:2%;
    height: 90%;
    text-align: left;
    font-size: 15px;
}

.word::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3.5px;
}

.word::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

.img{
    width: 40%;
    height: 80%;
}

.imagparent{
    width: 100%;
    height:80%;
}

.promtimg{
    background-size:contain;
    top:0px;
    margin-left: 5%;
    margin-top: 5%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}

.prompt{
    text-align:center;
    width: 90%;
    top: 50%;
    padding:5%;
    padding-left:7.5%;
    padding-bottom: 0px;
    /*padding-left: 25%;*/
    height: 20%;
    color:white;
    font-size: 15px;
}