body{
    overflow-y: auto;
}

.workdiv{
    margin:0;
    margin-top: 10px;
    padding-left:10vw;
    width: 80vw;
    height: 300px;
    font-size: 12px;
}

.word{
    overflow-y: scroll;
    width: 53%;
    padding-left:5%;
    padding-right:2%;
    height: 90%;
    text-align: left;
}

.word::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3.5px;
}

.word::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

.img{
    width: 40%;
    height: 80%;
}

.imagparent{
    width: 100%;
    height:70%;
}

.promtimg{
    background-size:contain;
    margin-left: 5%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}

.prompt{
    text-align:center;
    width: 90%;
    top: 40%;
    padding:5%;
    padding-top:5%;
    padding-left:7.5%;
    padding-bottom: 0px;
    /*padding-left: 25%;*/
    height: 20%;
    color:white;
}

.gen{
    background-size:contain;
    top:0px;
    background-position: center;
    background-repeat: no-repeat;
    height: 80%;
    width: 50%;
    filter: blur(1px);
}

.worktitle{
    width: 80%;
    padding-left:10%;
    white-space:nowrap;
}

.worktitle>.br{
    margin: 10px;
    width:100%;
}

#work1img{
    position: absolute;
    background-position: center;
    background-size: 100%;
    text-align: center;
    line-height: 200px;
    width: 4.5em;
    left:1.5em;
    height: 200px;
    background-image: url('../image/home-04.png');
    -webkit-background-clip: text;
    font-size: 4.5em;
    font-weight:bold;
    -webkit-text-fill-color: transparent;
    transition: background-position-y 1s linear;
}