.draw, .word, .generate{
    height: 100vh;
    max-height: 150vw;
    position:absolute;
    width:33vw;
    margin: 0;
}

.draw{
    transition: background-position-y 1s;
    transition-timing-function: linear;
    background-color: red;
    background-size: 33vw;
    left: 0px;
    background-position-y: 0px;
    background-image: url(../image/1.jpg);

} 

.generate{
    overflow-y: hidden;
    left: 67vw;
    width:33vw;
    background-color: black;
    background-position: top;
}


.word{
    color: white;
    font-size: 12px;
    width:34vw;
    left: 33vw;
    background-color: black;
    word-wrap:break-word;
}

.word::-webkit-scrollbar {
    display: none;
}

.child{
    left:0vw;
}

.imagparent{
    /*top : 20px;*/
    width: 34vw;
    height: 100%;
    border: 0px;
    background-color: black;
    border-bottom:solid white 0.1vh;
    border-top:solid white 0.1vh;
}

#Taiwan-promtimg{ 
    position:absolute;
    top:3%;
    left:4%;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width: 92%;
    height: 70%;
    border-bottom: solid black 1vh;
}

#Taiwan-prompt{
    text-align: center;
    top : 73%;
    width: 90%;
    padding-left: 5%;
    position:absolute;
    border-top:solid black 1vh;
    /*left: 10px;*/
    height: 25%;
    color:white;
}

#Taiwan-image{
    /*position: fixed;*/
    /*left:33vw;*/
    
    height: 50vh;
    background-color: black;
    z-index: 1;
    opacity: 1;
    display:block;
    visibility: visible;
    transition: visibility 0.6s, opacity 0.5s linear;
}

#Taiwan-image:hover{
    opacity: 0;
    visibility:collapse;
}

#Taiwan-word{
    overflow-y: scroll; 
    width: 96%;
    height: 100vh;
    padding: 2%;    
    text-align: left;
}

.gen-img{
    background-size: 100%;
    background-repeat:no-repeat;
    overflow: clip;
    position: relative;
    top:0px;
    width: 100%;
    height: 58vw;
}

#back{
    position: absolute;
    background-image: url('../image/home-02.png');
    background-size:contain;
    width:20px;
    height: 20px;
    margin : 10px;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 1s;
    z-index: 99;
}

#back:hover{
    opacity: 1;
}

#workbody{
    display: inline-flex;
    height:100vh;
}

#Taiwan #T{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}