#loading{
    position: fixed;
    display:block;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    z-index: 9999999;
    transition: opacity 1s;
    opacity : 1;
}

#title{

}